.oth-form-container {
    width: 90%;
    margin: 1vw auto;
    min-height: 300px;
    box-shadow: 0px 0px 3px 0px #EB6864;
    border-radius: 4px;
}
.oth-form-table {
    width: 90%;
    margin: auto;
    padding: 3vw 0;
}
.oth-form-table-header {
    margin-bottom: 1vw;
    overflow: hidden;
}
table {
    text-align: center;
}
.oth-form-table .btn {
    cursor: pointer;
}
table .fa-edit {
    color: #4dabf7;
    cursor: pointer;
}
table .fa-trash-alt {
    color: red;
    cursor: pointer;
}
table img {
    width: 5vw;
    height: 5vw;
}
table thead {
    border-top: solid 7px #EB6864;
}
#simple-form-people .form-group, #simple-form-people .custom-radio {
    float: left;
}
.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}