
    <script
      src="/js/jquery.min.js"></script>
    <script
      src="/js/poper.min.js"
    ></script>
    <script
      src="/js/bootstrap.min.js"
    ></script>
    <script src="/js/datepicker3.js"></script>
    <script src="/js/plugin/sweetalert2.all.min.js">
      
    </script>
    <script src="js/functions.js"></script>
    <script src="js/simple.js"></script>
  </body>
</html>